#about-me,
#passion,
#projects,
#reach-out {
    z-index: 10;
}

body {
    min-height: 100%;
    background: var(--prime-color);
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 300;
}

h1,
h2,
p {
    max-width: 50ch;
}

i {
    font-style: normal;
}

.flex {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main-container {
    position: relative;
    min-height: 100%;
}

.section-title {
    display: block;
    width: max-content;
    height: max-content;
    overflow: hidden;
    font-size: var(--font-size-xl);
    font-weight: 300;
    color: white;
}


.arrow-svg::before {
    content: attr(data-before);
    position: absolute;
    top: 0;
    left: 50%;
    font-size: var(--p-bigger);
    color: white;
    -o-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

.arrow-svg path {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    -o-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -webkit-transition: all 5s ease;
    transition: all 5s ease;
    -o-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}

.arrow-svg path:nth-of-type(2),
.arrow-svg path:nth-of-type(3) {
    -o-transition-delay: 2.506s;
    -moz-transition-delay: 2.506s;
    -webkit-transition-delay: 2.506s;
    transition-delay: 2.506s;
}

.arrow-svg.fade-in path {
    stroke-dashoffset: 0;
}

/* HOME SECTION */

#home {
    position: relative;
    background: var(--prime-color);
    z-index: 10;
}

#home .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: clamp(4rem, 15vh, 10rem);

}

#home article {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: auto;
    margin-top: 5%;
}

.intro {
    font-family: 'Orbitron', sans-serif;
    font-size: calc(var(--font-size-xxxl) + 1vw);
    font-weight: 400;
}

#home article > p {
    font-size: var(--font-size-base);
    font-weight: 400;
    margin-top: var(--white-space-16);
}

#home figure {
    width: 27%;
    aspect-ratio: 0.7 / 1;
    border-radius: 100rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    clip-path: circle(0% at 0% 50%);
    transform: translateX(20%);
    transition: all 1.8s ease 0.4s;
}

#home .container.fade-in figure {
    transform: translateX(0);
    clip-path: circle(100%);
}

#home figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#scroll-down {
    width: 3%;
    aspect-ratio: 1 / 1;
    margin-left: 5%;
    transform: translateY(-150%);
    transition: all 1s ease;
    transition-delay: 1s;
    opacity: 0;
}
#scroll-down.fade-in {
    transform: translateY(-100%);
    opacity: 1;
}

/* ABOUT SECTION */


#about-me {
    position: relative;
    width: 100vw;
    min-height: 400px;
    background: var(--prime-color);
    padding-top: calc(var(--white-space-64) + 10vw);
}

.about-container {
    display: grid;
    margin-left: auto;
    margin-right: 5%;
    width: max-content;
    max-width: 96%;
    padding-bottom: var(--white-space-24);
}

.about-container > .section-title {
    margin-bottom: var(--white-space-8);
}

#about-me > .about-container > p {
    font-size: var(--font-size-base);
    font-weight: 300;
    max-width: 50ch;
    margin-left: auto;
}

/* PASSION SECTION */

#passion {
    position: relative;
    width: 100vw;
    min-height: 500px;
    background: var(--prime-color);
    padding: calc(var(--white-space-64) * 3) 0;
}

.passion-container {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1800px;
    margin: auto;
}

.passion-intro {
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    height: max-content;
    max-width: 50ch;
    margin: auto auto 9rem 4rem;
}

#passion .section-title {
    font-size: var(--font-size-xl);
    font-weight: 300;
}

.passion-intro p {
    font-size: var(--font-size-sm);
    font-weight: 400;
    opacity: 0.8;
    margin-top: 1rem;
}

.passion-intro svg {
    position: absolute;
    height: clamp(2rem, 20vw, 6rem);
    aspect-ratio: 1 / 1;
    bottom: -4.5rem;
    right: -40%;
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.passion-item {
    width: 85%;
    align-items: flex-start;
    margin: auto auto var(--white-space-32) auto;
    justify-content: space-evenly;
}

.passion-item:nth-of-type(2) {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}


.passion-details {
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    width: clamp(30ch, 30%, 40ch);
}

.passion-title {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--font-size-xl);
    color: white;
    font-weight: 400;
    margin-bottom: var(--white-space-4);
}

.passion-title span:first-of-type > span > span {
    font-size: var(--p-medium);
    font-family: 'Orbitron';
}


.passion-item p {
    font-size: var(--p-medium);
    font-weight: 400;
    color: white;
    line-height: 1.6;
    opacity: 0.6;
}

.passion-img {
    aspect-ratio: 1.7 / 1;
    height: clamp(300px, 60vh, 500px);
    -o-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    -o-transition: transform 2s var(--fast-slow-trans), opacity 0.6s ease;
    -ms-transition: transform 2s var(--fast-slow-trans), opacity 0.6s ease;
    -moz-transition: transform 2s var(--fast-slow-trans), opacity 0.6s ease;
    -webkit-transition: transform 2s var(--fast-slow-trans), opacity 0.6s ease;
    transition: transform 2s var(--fast-slow-trans), opacity 0.6s ease;
    opacity: 0;
}

.passion-item:nth-of-type(2) .passion-img {
    -o-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
}

.passion-img.fade-in,
.passion-item:nth-of-type(2) .passion-img.fade-in {
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.passion-img:last-of-type {
    aspect-ratio: 1.5 / 1;
}

.passion-img img {
    width: 100%;
    height: 100%;
}

.student {
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    margin: 4rem auto auto 4rem;
}

.student-title {
    font-size: var(--font-size-xl);
    font-weight: 300;
    margin-bottom: var(--white-space-8);
}

.student p {
    font-size: var(--font-size-sm);
    font-weight: 400;
    opacity: 0.8;
}

.intro > span:first-of-type > span > span,
.intro > span:last-of-type > span > span,
.section-title:not(#passion .section-title) span:last-of-type > span > span,
#passion .section-title > span:nth-of-type(2) > span > span,
.passion-title span:first-of-type > span > span,
.student-title span:last-of-type > span > span {
    background: -o-linear-gradient(90.18deg, #C46E00 0.66%, #76001D 96.6%);
    background: -moz-linear-gradient(90.18deg, #C46E00 0.66%, #76001D 96.6%);
    background: -webkit-linear-gradient(90.18deg, #C46E00 0.66%, #76001D 96.6%);
    background: linear-gradient(90.18deg, #C46E00 0.66%, #76001D 96.6%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* PROJECTS */

#projects {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr auto;
    row-gap: var(--white-space-32);
    width: 100vw;
    min-height: 500px;
    background: var(--prime-color);
    padding-bottom: 8rem;
}

#projects .section-title {
    margin: auto;
}

.projects-list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--white-space-8);
    row-gap: var(--white-space-8);
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.project-card {
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
    max-width: 600px;
    min-height: max-content;
    border: 1px solid var(--btn-border-clr);
    border-radius: 2rem;
    margin: auto;
    overflow: hidden;
}

.project-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 0.78;
    border-radius: 1vw;
    overflow: hidden;
}

.project-details {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    font-size: var(--font-size-base);
    color: #FFF;
    opacity: 0;
    transition: all 0.5s var(--fast-slow-trans);
    z-index: 2;
}

.project-details:hover {
    opacity: 1;
}

.project-details p {
    max-width: 80%;
    text-align: center;
}

.project-link img {
    width: 100%;
    height: 100%;
}

@media (max-width: 280px) {
    .project-description footer {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 900px) {
    .project-card {
        width: 90%;
        max-width: 95vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .project-img {
        height: 100%;
        object-fit: cover;
    }
}

/* contact */

#contact {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100vw;
    height: var(--window-height);
    background-image: linear-gradient(to bottom, #080319, #09031b, #0a031e, #0b0420, #0c0423, #150524, #1c0624, #230623, #2e071d, #360a16, #3a100e, #3b1904);
    overflow: hidden;
    z-index: 6;
}

#contact::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/statics/images/space-texture.webp);
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
    opacity: 0.03;
}

.contact-container {
    width: 90%;
    max-width: 2000px;
    justify-content: center;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
}

#contact .planet {
    height: 50vh;
    width: 50vh;
    position: absolute;
    top: 38%;
    right: 10%;
    z-index: 2;
    -o-transform: scale(12.5) translate(calc(45vw / -12.5 + 8.5%), 49.5%) rotate(63deg);
    -ms-transform: scale(12.5) translate(calc(45vw / -12.5 + 8.5%), 49.5%) rotate(63deg);
    -moz-transform: scale(12.5) translate(calc(45vw / -12.5 + 8.5%), 49.5%) rotate(63deg);
    -webkit-transform: scale(12.5) translate(calc(45vw / -12.5 + 8.5%), 49.5%) rotate(63deg);
    transform: scale(12.5) translate(calc(45vw / -12.5 + 8.5%), 49.5%) rotate(63deg);
}

#contact .planet img {
    width: 100%;
    height: 100%;
}


.side1 {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 90%;
    margin: 0 3rem auto 0;
}

#section-4 .talk-slider {
    width: 95%;
    top: 0%;
    left: 0%;
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.side2 {
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    height: 90%;
    margin: auto 0 var(--white-space-24) 0;
    z-index: 10;
}

.reach-methds {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    width: max-content;
    margin: 0 auto;
}

.reach-methds a,
.reach-methds span {
    color: white;
    font-size: var(--font-size-base);
    font-weight: 400;
    margin-top: var(--white-space-4);
}

.methods a span.gradiant-font,
.methods span span.gradiant-font {
    font-weight: 500;
}

.socials-links a {
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 1px solid var(--btn-border-clr);
    border-radius: 50%;
}

a.contact-btn {
    width: 90%;
    max-width: 38ch;
}


/* PORTRAIT MODE STYLES */
@media screen and (max-width: 760px) {
    .projects-list {
        grid-template-columns: 1fr;
    }
}
@media screen and (orientation: portrait) {
    #home .container {
        flex-direction: column;
        margin-top: 0;
    }

    #home article {
        justify-items: center;
        margin-top: clamp(4rem, 15vh, 10rem);
    }

    .intro {
        font-size: calc(var(--font-size-xl) + 1.2vw);
        text-align: center;
    }

    #home figure {
        width: 80%;
        max-width: 400px;
        margin-top: var(--white-space-48);
        clip-path: circle(0% at 50% 100%);
    }

    #scroll-down {
        width: 7%;
        aspect-ratio: 1 / 1;
        transform: translateY(-50%);
        margin: auto;
        margin-top: var(--white-space-24);
        transition-delay: 0;
    }
    #scroll-down.fade-in {
        transform: translateY(0%);
    }

    /* About Srction */

    #about-me {
        padding-top: calc(var(--white-space-64) * 3);
    }

    .about-container {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
        justify-items: center;
        text-align: center;
    }

    /* Passion Section */

    .passion-intro {
        margin: auto;
        margin-bottom: clamp(5rem, 15vh, 10rem);
        width: max-content;
        max-width: 90%;
    }

    .passion-intro svg {
        bottom: calc(clamp(5rem, 15vh, 10rem) / -1.2);
        right: 50%;
        transform: scaleX(-1) translateX(-50%);
    }

    .passion-item,
    .passion-item:nth-of-type(2) {
        flex-direction: column-reverse;
        width: 90%;
    }

    .passion-img {
        height: clamp(133px, 30vh, 350px);
        width: clamp(200px, 90%, 525px);
        margin: auto;
    }

    .passion-details {
        width: clamp(200px, 90%, 525px);
        max-width: max-content;
        margin: 0 auto;
    }

    .passion-details p {
        max-width: 100%;
    }

    #passion .section-title,
    .student-title {
        font-size: clamp(1.5rem, 7vw, 2.5rem);
    }

    .student {
        margin: 7rem clamp(1rem, 7vw, 3rem) auto auto;
        width: max-content;
        max-width: 90%;
    }

    /* Contact */

    .contact-container {
        height: 90%;
        width: 90%;
        left: 5%;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #contact .side1 {
        height: 40%;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    #contact .side2 {
        height: max-content;
        width: 90%;
        align-items: center;
        margin: 0 auto;
    }

    .reach-methds {
        margin: 0 auto;
    }

    .reach-methds a,
    .reach-methds span {
        font-size: var(--p-bigger);
        margin-top: 1rem;
    }


    #contact a.contact-btn:link,
    #contact a.contact-btn:focus,
    #contact a.contact-btn:active,
    #contact a.contact-btn:visited {
        padding: 2vh clamp(1rem, 10ch, 25vw);
        min-width: max-content;
        font-size: var(--p-bigger);
        margin: 2rem auto 0 auto;
    }

    #contact .planet {
        top: 16%;
        right: 50%;
        height: 35vh;
        width: 35vh;
        -o-transform: scale(6.5) translate(10%, 70%) rotate(62deg);
        -ms-transform: scale(6.5) translate(10%, 70%) rotate(62deg);
        -moz-transform: scale(6.5) translate(10%, 70%) rotate(62deg);
        -webkit-transform: scale(6.5) translate(10%, 70%) rotate(62deg);
        transform: scale(6.5) translate(10%, 70%) rotate(62deg);
    }
}